.card {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(2, 0, 0, 0.37);
    width: 270px;
    height: 350px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease;
}

.card-main {
    opacity: 1;
    transform: scale(1.1);
    z-index: 2;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
}

.card-secondary-left {
    opacity: 0.8;
    z-index: 1;
    left: 20%;
    filter: blur(2px);
    transform: translateX(-52%) scale(0.9);
}

.card-secondary-right {
    opacity: 0.8;
    z-index: 1;
    left: 80%;
    filter: blur(2px);
    transform: translateX(-48%) scale(0.9);
}

.card-hidden {
    opacity: 0;
    transform: scale(0.8);
    z-index: 0;
    pointer-events: none;
}

.card-title {
    font-size: 2rem;
    font-family: Mont-Heavy, sans-serif;
    margin: 0 0 10px;
    color: #000000;
}

.card-description {
    font-size: 1.2rem;
    font-family: Mont, sans-serif;
    color: #000000;
    margin: 0;
}

.card-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.card-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

.card-button.inactive {
    background-color: grey;
    cursor: not-allowed;
}

.start-button {
    background-color: #28a745;
}

.start-button:hover {
    background-color: #218838;
}

.skip-button {
    background-color: #dc3545;
}

.skip-button:hover {
    background-color: #c82333;
}

.start-button.inactive {
    background-color: grey;
    cursor: not-allowed;
}

.skip-button.inactive {
    background-color: grey;
    cursor: not-allowed;
}

.skipped-text {
    font-size: 3rem;
    font-family: Mont-Heavy, sans-serif;
    color: #ff0000;
}

.success-text {
    font-size: 3rem;
    font-family: Mont-Heavy, sans-serif;
    color: #28a745;
}

.locked-card {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (max-width: 1000px) {
    .card {
        width: 250px;
        height: 300px;
    }
    .card-title {
        font-size: 1.5rem;
    }
    .card-description {
        font-size: 1rem;
    }
    .skipped-text{
        font-size: 2.5rem;
    }
    .success-text {
        font-size: 2.5rem;
    }
}

@media (max-width: 550px) {
    .card {
        width: 200px;
        height: 250px;
    }
    .card-title {
        font-size: 1.4rem;
    }
    .card-description {
        font-size: 0.9rem;
    }
    .skipped-text{
        font-size: 2rem;
    }
    .success-text {
        font-size: 2rem;
    }
}
