@font-face {
    font-family: 'Mont-Heavy';
    src: url('public/fonts/Mont-SemiBold.ttf') format('truetype');
}

:root {
    --background-color: #f9f9f9;
    --text-color: #000000;
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --highlight-color: #B8E986;
    --card-background: #fff;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
    from { opacity: 0; transform: translateX(100px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0); }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 60px);
    width: 100%;
    background-color: var(--background-color);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 70vh;
    width: 100%;
    background: #000c1f;
    color: white;
    padding: 40px 20px;
    overflow: hidden;
}

.hero-section h1 {
    font-size: 48.3px;
    font-family: 'Mont-Heavy', sans-serif;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    position: relative;
    z-index: 1;
}

.hero-section p {
    font-size: 18.4px;
    max-width: 800px;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 1;
}

.hero-decoration {
    position: absolute;
    width: 3000px;
    height: auto;
    opacity: 0.7;
    z-index: 0;
}

.hero-decoration-1 {
    bottom: 1%;
    right: 15%;
    transform: translate(50%, 50%); /* Зафиксировать положение при изменении размера экрана */
}

.relevance-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 100%;
    background: linear-gradient(135deg, var(--highlight-color), var(--card-background));
    color: var(--text-color);
    padding: 40px 20px;
    margin: 0;
    text-align: center;
}

.relevance-section h2 {
    font-size: 42px;
    font-family: 'Mont-Heavy', sans-serif;
    color: var(--text-color);
    margin-bottom: 20px;
}

.relevance-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    justify-content: center;
}

.relevance-card {
    background: var(--card-background);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px var(--card-shadow);
    transition: transform 0.3s ease, opacity 0.3s ease;
    flex: 1;
    min-width: 200px;
}

.relevance-card.fade-in-right {
    animation: fadeInRight 1s ease-in-out;
}

.relevance-card.fade-in-left {
    animation: fadeInLeft 1s ease-in-out;
}

.relevance-card h3 {
    font-family: 'Mont-Heavy', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.relevance-card p {
    font-size: 18.4px;
    color: var(--text-color);
    margin: 0 0 10px 0;
}

.relevance-image-svg {
    width: 100%;
    height: auto;
    margin-top: 4px;
}

.relevance-image-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 20px;
    background: var(--card-background);
    box-shadow: 0 4px 8px var(--card-shadow);
    animation: fadeInUp 1s ease-in-out;
}

.relevance-image-container h3{
    font-family: 'Mont-Heavy', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.relevance-image {
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .hero-section {
        min-height: 60vh;
    }

    .hero-section h1 {
        font-size: 36.75px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .relevance-section h2 {
        font-size: 34px;
    }

    .relevance-card h3 {
        font-size: 24px;
    }

    .relevance-card p {
        font-size: 14px;
    }

    .relevance-image-container h3{
        font-size: 24px;
    }

    .relevance-image-svg {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .hero-section {
        min-height: 50vh;
    }

    .hero-section h1 {
        font-size: 30.66px;
    }

    .hero-section p {
        font-size: 11.68px;
    }

    .relevance-cards {
        flex-direction: column;
    }

    .relevance-section h2 {
        font-size: 26px;
    }

    .relevance-card h3 {
        font-size: 16px;
    }

    .relevance-card p {
        font-size: 12px;
    }

    .relevance-image-container h3{
        font-size: 16px;
    }

    .relevance-image-svg {
        width: 65%;
    }
}
