.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 120vh;
    padding-top: 85px;
    background-color: var(--background-color);
}

.signupHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-family: Mont-Heavy, sans-serif;
    font-size: 29px;
}

.signupHeader h2 {
    font-size: 32px;
}

.signupContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* Увеличиваем ширину контейнера */
}

.signupForm {
    background-color: transparent;
    width: 48%; /* Уменьшаем ширину формы */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    padding-right: 20px; /* Добавляем отступ справа, чтобы форма не касалась картинки */
}

.signupForm h2 {
    margin-bottom: 30px;
    text-align: center;
    color: var(--black-color);
}

.formGroup {
    margin-bottom: 10px; /* Уменьшаем расстояние между полями формы */
    width: 100%; /* Обеспечиваем ширину элементов на 100% от родителя */
}

.inputContainer {
    position: relative;
    margin-bottom: 10px; /* Уменьшаем расстояние между контейнерами ввода */
    width: 100%; /* Обеспечиваем ширину контейнера на 100% от родителя */
}

.inputContainer i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--black-color);
}

.inputContainer input {
    width: 100%;
    padding: 15px 15px 15px 50px;
    border: 1.5px solid var(--black-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 16px;
}

.button {
    display: inline-block;
    width: 60%;
    margin: 0px auto 0; /* Устанавливаем расстояние между формой и кнопкой */
    padding: 12px 0;
    border-radius: 20px;
    font-size: 18.4px;
    font-family: 'Mont-Heavy', sans-serif;
    background-color: #1d5bf4;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #1d5bf4;
    box-shadow: 0 7px 20px #1d5bf4;
}

.signupImage {
    width: 48%; /* Увеличиваем ширину изображения */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; /* Добавляем отступ слева, чтобы картинка не касалась формы */
}

.signupImage img {
    max-width: 100%;
    height: auto;
    transform: scale(1.2);
}

@media (max-width: 730px) {
    .signupHeader h2 {
        font-size: 24px;
    }

    .signupContent {
        width: 100%;
    }

    .signupForm {
        width: 70%;
        padding-right: 10px; /* Уменьшаем отступ при уменьшении формы */
    }

    .inputContainer input {
        padding: 12px 12px 12px 40px;
    }

    .button {
        width: 70%;
        padding: 10px 0;
        font-size: 16px;
    }

    .error {
        font-size: 14px;
    }

    .signupImage {
        width: 70%;
        padding-left: 10px;
    }

    .signupImage img {
        transform: scale(1.0);
    }
}

@media (max-width: 600px) {
    .signupContent {
        flex-direction: column;
        align-items: center;
    }

    .signupForm {
        max-width: 250px;
        padding: 0px 20px;
    }

    .signupImage {
        display: none;
    }
}
