.si-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    padding-top: 50px;
}

.si-upper-content {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.si-upper-content h1{
    font-size: 32px;
    max-width: 680px;
    font-family: Mont-Heavy, sans-serif;
}

.si-main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 730px) {
    .si-upper-content h1{
        font-size: 24px;
    }
}