.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.user-container.loading {
    justify-content: center;
    height: 100vh;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 20px;
}

.profile-photo {
    margin-right: 20px;
}

.profile-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000000;
}

.profile-details {
    flex: 1;
}

.profile-details h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--black-color);
    font-family: Mont-Heavy, sans-serif;
}

.profile-details p {
    font-size: 1.2rem;
    color: var(--black-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.confirm-icon {
    color: green;
    margin-left: 10px;
}

@media (max-width: 400px) {
    .profile-photo img {
        width: 100px;
        height: 100px;
    }

    .profile-details h2 {
        font-size: 1.2rem;
    }

    .profile-details p {
        font-size: 0.9rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.assay-section {
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

.assay-section {
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

.assay-section .stat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(135deg, #121247 0%, #ff5900 100%);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: Mont-Heavy, sans-serif;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    padding: 20px;
    box-shadow: 0 9px 20px #ff4d4d;
}

.assay-section .stat-container::before,
.assay-section .stat-container::after {
    display: none;
}

.assay-section button {
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Mont-Heavy, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2); /* Добавляем легкую тень */
}

.assay-section button::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 50%, transparent 50%);
    border-radius: 50%;
    animation: pulse 2s infinite; /* Новый эффект пульсации */
}

.assay-section button:hover {
    box-shadow: 0 9px 20px #1d5bf4;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.assay-section .stat-container p {
    margin: 5px 0;
}
