@font-face {
    font-family: 'Mont-Black';
    src: url('public/fonts/Mont-Black.ttf') format('truetype');
}

@keyframes buttonHover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.header {
    display: flex;
    justify-content: center; /* Центрируем контейнер */
    align-items: center;
    padding: 14px 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px; /* Задаем максимальную ширину контейнера */
}

.header-logo {
    text-decoration: none;
}

.header-logo-text {
    font-family: 'Mont-Black', sans-serif;
    font-size: 24px;
    color: #000c1f;
}

@media (max-width: 1000px) {
    .header-container {
        max-width: 900px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-logo-text {
        font-size: 22px;
    }
}

@media (max-width: 550px) {
    .header-logo-text {
        font-size: 20px;
    }
}
