:root {
    --primary-color: #05386B;
    --secondary-color: #EDF5E1;
    --accent-color: #5CDB95;
    --gradient-start: #379683;
    --gradient-end: #8EE4AF;
}

.header {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    color: #322323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: #1e1e1e 0px 0px 2px;
}

.header-logo {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: bold;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.header-buttons .button:hover,
.header-buttons .button:active {
    background-color: var(--secondary-color);
}

.header-buttons .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.header-buttons .button-link:hover,
.header-buttons .button-link:active {
    background-color: var(--secondary-color);
}

@media (max-width: 400px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-buttons {
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}
