:root {
  --background-color: #ffffff;
  --black-color: #000000;
  --white-color: #ffffff;
  --header-start-color: #0066ff;
  --header-end-color: #ffffff;
  --button-color: #0066ff;
  --button-hover-color: #8ac1ff;
  --form-hover-color: #f4f4f4;
  --7-color: #6a6666;
  --base-font-size: 18px;
}

@font-face {
  font-family: 'Mont';
  src: url('public/fonts/Mont-Regular.ttf') format('truetype');
}

body {
  font-family: 'Mont', sans-serif;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  background-color: var(--black-color);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
}
