@font-face {
  font-family: 'SFUIDisplay';
  src: url('public/fonts/PionerSans8-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url('public/fonts/PionerSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #5CDB95;
  --primary-color: #05386B;
  --secondary-color: #EDF5E1;
  --accent-color: #5CDB95;
  --gradient-start: #379683;
  --gradient-end: #8EE4AF;
  --gray-color: #6a6666;
  --base-font-size: 18px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: 'SFUIDisplay', sans-serif;
}

* {
  font-family: 'SFUIDisplay', sans-serif;
  font-size: var(--base-font-size);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
}
