:root {
  --background-color: #5CDB95;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}