.su-image {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 50%;
}

.su-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
}


@media (max-width: 730px) {
    .su-image img {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .su-image {
        display: none;
    }
}
